.contact .contact-item{
	background-color: #cfcfcf;
}

.inner-blog .inner-sidebar .side-widget h4{
	background: #b70000;
}

.header .navbar-default  .navbar-nav > .dropdown .dropdown-menu {
	background: #b70000;
}

.header .navbar-default  .navbar-nav > li.dropdown ul li a:hover{
	background: #ffffff;
	color:#b70000;
}

.header .navbar-default .navbar-nav > li a:hover{
	color: #b70000;
}

.header .navbar-default .navbar-nav > li a span{
	color: #b70000;
}